@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@font-face {
    font-family: "Julius Sans One", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
}
.carousel-slide {
    transition: transform 0.6s ease-in-out;
}

.carousel-inner {
    overflow: hidden;
}

body{
    background-color: #01080E;
    font-family: "Julius Sans One", sans-serif;
    box-sizing: border-box;
}



a{
    text-decoration: none;
    color:white;
    transition: .4s;

}

a:hover{
    color: white;
}

/*FORM*/

form{
    width: 450px;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label{
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea{
    padding: .6em;
    color: #777;
    font-size: .8em;
}

input[type="submit"], .register{
    background-color: #fff;
    border: 2px solid transparent;
    padding: .6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: .4s;
    margin: 10px;
}
.register a{
    color: #01080E;
}

input[type="submit"]:hover{
    color:white;
    border-color: white;
    background-color: #0066b9;
    
}
.register:hover{
    color:white;
    border-color: white;
    background-color: #0066b9;
}

.validation-error p{
    color: #dc3545;
    margin-top: .4em;
    border-left: 3px solid #dc3545;
    padding-left: .2em;
}

/*Buttons*/
.edit-btn,
.remove-btn{
    border: 1px solid #EFEFEF;
    padding: .4em 1em;
    font-size: 1em;
    margin: 0 .5em;
    cursor: pointer;
    background-color: #fff;
    transition: .4s;
}

button fa-icon,
a fa-icon{
    margin-right: .2em;
}

.edit-btn, .edit-btn path{
    border-color: #007BFF;
    color: #007BFF;
}

.edit-btn:hover, .edit-btn:hover path{
    color: #fff;
    background-color: #007BFF;
}

.remove-btn, .remove-btn path{
    border-color: #dc3545;
    color: #dc3545;
}

.remove-btn:hover, .remove-btn:hover path{
    color: #fff;
    background-color: #dc3545;
}


.course-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.course{
    flex: 1 1 25%;
    max-width: 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #23272f;
}
.course{
    transition: all .5s ease;
}

.course:hover {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.301);
  }

.course-img{
    width: 100%;
    height: 200px; 
    overflow: hidden; 
    border-radius: 2%;
    
}

.course-img img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center center; 
    border-radius: 2%; 
}

.course h3, .course p, .course a{
    margin-bottom: 1em;
    background-color: #23272f;
    border-radius: 5px;
}

.course .date{
    font-size: .7em;
    font-style: italic;
}
